{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estates pics overview</title>
  <link rel="stylesheet" href="{% static 'assets/css/post.css'%}">
</head>
<body>
  <div class="maindiv">
    <center><h1>{{estates.name}} OVERVIEW</h1></center>
   
   
  </div>
  <h1>Amazing buildings!!</h1>
  <div class="div1">
    
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-09.jpg' %}" alt="">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-26.jpg' %}" alt="">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-31.jpg' %}" alt="">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-15.jpg' %}" alt="">  
  </div>
  <div class="div2">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-09.jpg' %}" alt="">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-26.jpg' %}" alt="">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-31.jpg' %}" alt="">
    <img class="image1" src="{% static 'assets/img/Estate Images/photo_2024-11-26_08-36-15.jpg' %}" alt=""> 
    </div>
  
</body>
</html>

<h1>Registration Form</h1>
<form action="POST">






  
</form>