{% load static%}
<link href="{% static 'assets/css/auth.css' %}" rel="stylesheet">


  <form id="myform" method= 'POST' action= '{% url 'registration' %}' >
    {% csrf_token %}
        <div id="error message"class="error-message">
            {% for message in messages%}
             <h5> {{message}}</h5>
                 {% endfor %}
        </div>
        
         <h1 style="color:rgb(37, 121, 190);"> Sign up here</h1>
       <h4> <input  type="text" id="inputField" name='first_name' placeholder="Enter your First Name" required /> </h4>
    <h4> <input  type="text" id="inputField" name='last_name' placeholder="Enter your Last Name" required /> </h4>
    <h4> <input  type="text" id="inputField" name='username' placeholder="Enter Username" required /> </h4>
    <h4> <input  type="text" id="inputField" name='email' placeholder="Enter Email Address" required /></h4>
    <h4> <input  type="contact" id="inputField" name='contact' placeholder="Enter your Contact" required /></h4>
    <h4> <input  type="text" id="inputField" name='address' placeholder="Enter Address" required /></h4>
    <h4> 
       <select id="selectField" name="status" required>
        <option id="inputField" value="Select Status">Update current role</option>
        <option id="inputField" value="Student">Student</option>
        <option id="inputField" value="Parent">Parent</option>
        <option id="inputField" value="Visitor">Visitor</option>
       </select></h4><h4>  <input  type="text" id="inputField" name='password' placeholder="Enter Password" required /></h4>
    <h4>  <input  type="text" id="inputField" name='password1' placeholder="Confirm Password" required /></h4> 
    <button onclick="validateInput()" type="submit">
        Save
    </button> 
    <!-- <link rel="login/"> type="" href=""> type="button">Login</button> -->
    <h5> Already have an account? <a style="color:rgb(37, 121, 190);" href="{% url 'login' %}">Login</a></h5>

    </form>


<script src="{% static 'auth.js' %}"></script>