# Version control
.git
.gitignore

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.env
backend/**/.env
backend/project/.env

# Node / Angular
node_modules/
npm-debug.log
MegaPro1.1/Code/eyang-frontend/node_modules/
MegaPro1.1/Code/eyang-frontend/dist/
MegaPro1.1/Code/eyang-frontend/.angular/

# Media & Static files
backend/media/
backend/static_cdn/
postgres_data/

# Docker and IDE files
.dockerignore
docker-compose.yml
.vscode/
.idea/
