{
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",

  "[css]": {
    "editor.formatOnSave": false
  },

  "[html]": {
    "editor.formatOnSave": false
  },

  "[typescript]": {
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
}